<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
  <title>Club Detail</title>
</head>
<body class="d-flex flex-column">
<section layout:fragment="body" class="py-5">
  <header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
      <div class="text-center my-5">
        <h1 class="fw-bolder" th:text="${event.name}"></h1>
        <p class="lead mb-0">Charlote, NYC</p>
      </div>
    </div>
  </header>
  <!-- Page content-->
  <div class="container">
    <div class="row">
      <!-- Blog entries-->
      <div class="col-lg-8">
        <!-- Featured blog post-->
        <div class="card mb-4">
          <a href="#!"><img class="card-img-top" th:src="${event.photoUrl}" alt="..." /></a>
          <div class="card-body">
            <div class="small text-muted" th:text="${event.createOn}"></div>
            <h2 class="card-title">About this running event</h2>
            <p class="card-text" th:text="${event.type}"></p>
            <div th:if="${user.id} == ${event.club.createdBy.id}">
              <a class="btn btn-primary" th:href="@{/events/{eventId}/delete(eventId=${eventId})}" >Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>